---
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Buttons.astro";
import ExperienceSession from "../components/ExperienceSession.astro";
import EducationalSession from "../components/EducationalSession.astro";
---

<BaseLayout>
  <div class="cv-buttons">
    <Button
      icon="/icon-download.svg"
      text="Download English CV"
      url="https://thiagolucio.com.br/cv/cv-midia-en-thiagolucio.pdf"
    />
    <Button
      icon="/icon-download.svg"
      text="Download CV em Português"
      url="https://thiagolucio.com.br/cv/cv-midia-br-thiagolucio.pdf"
    />
  </div>
  <h1>Experience</h1>
  <ExperienceSession
    src="/logoSysmap.png"
    title="SysMap Outsource - May 2022 - Present - Remote"
    description="Working as a Co-Participating Partner inside the company's clients teams and projects as a Front-end UI Developer. \n Acting mainly in the creation of Design Systems for Mobile Applications using frameworks and tools for the Front-end ecosystem."
  />
  <ExperienceSession
    src="/logoAtos.jpeg"
    title="Atos - Jul 2021 - May 2022"
    description="Using technologies based on JavaScript, HTML, and CSS and implementing UX Design / Interaction UI concepts in the intuitive construction of interfaces."
  />
  <ExperienceSession
    src="/logonsctv.jpeg"
    title="NSC TV (Globo TV network branch) - Mar 2020 - Jul 2021"
    description="Working with Web Development of the company's Web Applications, dealing with the entire cycle of UX/ UI Design and construction of the Front-end as well as APIS and Backend."
  />
	<a class="btn-linkedin" href="https://www.linkedin.com/in/thiago-lucio-bittencourt-b0452825" target="_blank">
		<img src="/link-icon.svg" alt="Linkedin" width="16" height="16" /> See more on Linkedin...
	</a>

	<h1>Education</h1>
	<EducationalSession
	  src="/univali-logo.jpg"
	  title="University of Vale do Itajaí - UNIVALI."
	  description="Graduate in Interaction Design - 2016 - 2018."
	/>
	<EducationalSession
	  src="/unisul-logo.jpeg"
	  title="University of Southern Santa Catarina - UNISUL."
	  description="Bachelor of Web Development - 2009 - 2013."
	/>
	<EducationalSession
	  src="/unesa-logo.jpg"
	  title="Estácio de Sá University - UNESA."
	  description="Bachelor of Systems Analysis - 1998 - 2002."
	/>

	<a class="btn-linkedin" href="https://www.linkedin.com/in/thiago-lucio-bittencourt-b0452825" target="_blank">
		<img src="/link-icon.svg" alt="Linkedin" width="16" height="16" /> See more on Linkedin...
	</a>
</BaseLayout>

<style lang="scss">
  .cv-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    margin-bottom: 40px;
  }
</style>
