---
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Buttons.astro";
import Avatar from "../components/Avatar.astro";

---

<BaseLayout>
	<div class="cv-buttons">
		<Button
        icon="/icon-download.svg"
        text="Download English CV"
        url="https://thiagolucio.com.br/cv/cv-midia-en-thiagolucio.pdf"
      />		
	  <Button
        icon="/icon-download.svg"
        text="Download CV em Português"
        url="https://thiagolucio.com.br/cv/cv-midia-br-thiagolucio.pdf"
      />
	</div>
  <h1>Aqui vai o conteúdo</h1>
</BaseLayout>


<style lang="scss">
	.cv-buttons {
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: 16px;
		justify-content: flex-end;
		align-items: center;
		align-content: center;
		margin-bottom: 40px;
	}
</style>