---
---

<div class="infolist">
  <h2>Fast info Contact</h2>
  <ul>
    <li>
      <span class="spanTitle">email:</span>
      <span class="spanText">thiagolucio@gmail.com</span>
    </li>
    <li>
      <span class="spanTitle">phone:</span>
      <span class="spanText">+55 48 98403-7518</span>
    </li>
    <li>
      <span class="spanTitle">country:</span>
      <span class="spanText">Brasil</span>
    </li>
  </ul>
</div>

<style lang="scss">
  .infolist {
    width: 100%;
    padding: 0 26px;
    h2 {
      margin-bottom: 16px;
    }
  }
  .infolist ul li {
    text-align: left;
    list-style: none;
    padding: 4px 0;
  }
  .spanTitle {
    font-family: "Oswald", sans-serif;
    color: #0a66c2;
    font-weight: 600;
  }
  .spanText {
    font-family: "Oswald", sans-serif;
    margin-left: 8px;
    color: #333333;
  }
</style>
