---
---

<div class="infolist">
  <h2>Fast info Contact</h2>
  <ul>
    <li>
      <span class="spanTitle">email:</span>
      <span class="spanText">thiagolucio@gmail.com</span>
    </li>
    <li>
      <span class="spanTitle">phone:</span>
      <span class="spanText">+55 48 98403-7518</span>
    </li>
    <li>
      <span class="spanTitle">country:</span>
      <span class="spanText">Brasil</span>
    </li>
    <li class="link-simple-linkedin">
      <span class="spanTitle">Linkedin:</span>
      <span class="spanText">
        <a
          href="https://www.linkedin.com/in/thiago-lucio-bittencourt-b0452825/"
          target="_blank">Thiago Lucio</a
        >
      </span>
    </li>
  </ul>
</div>

<style lang="scss">
  .infolist {
    width: 100%;
    padding: 0 26px;
    h2 {
      margin-bottom: 16px;
    }
    ul {
      width: 100%;
      text-align: left;
      list-style: none;
      padding: 4px 0;
    }
  }
  .spanTitle {
    font-family: "Oswald", sans-serif;
    color: #0a66c2;
    font-weight: 600;
  }
  .spanText {
    font-family: "Oswald", sans-serif;
    margin-left: 8px;
    color: #333333;
  }
  .link-simple-linkedin {
    display: none;
  }
  @media (max-width: 1024px) {
    .link-simple-linkedin {
      display: block;
    }
    .infolist h2 {
      display: none;
    }
  }
  @media (max-width: 615px) {
    .infolist {
      ul li {
        text-align: center;
        list-style: none;
        padding: 4px 0;
      }
    }
  }
</style>
