---
---

<div class="containerLogo">
  <img src="/logo.png" alt="Logo" width="40" height="40" />
  <span class="font-bar-code">ThiagoLucio</span>
</div>

<style lang="scss">
  .containerLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0 20px;
  }

  .font-bar-code {
    font-family: "Libre Barcode 39 Text", cursive;
    font-size: 2.5em;
    margin-left: 8px;
    color: #222222;
    font-weight: 400;
  }

  @media (max-width: 1024px) {
    .containerLogo {
      width: 50%;
      justify-content: flex-start;
    }

    .font-bar-code {
      font-family: "Libre Barcode 39 Text", cursive;
      font-size: 42px;
      color: #222222;
      font-weight: 300;
    }
  }
  @media (max-width: 615px) {
    .containerLogo {
      width: 100%;
      justify-content: center;
    }
  }
</style>
